.articles-container{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
}

.article-card{
    height: 500px;
    padding: 10px;
    margin: 15px;
    text-align: center;
    color: #fefefe;
    background: rgba( 255, 255, 255, 0.20 );
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.644);
    backdrop-filter: blur( 7.5px );
    -webkit-backdrop-filter: blur( 7.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.info-card{
    height: 400px;
    padding: 2%;
    margin: 10px;
    text-align: center;
    color: #fefefe;
    background: rgba( 255, 255, 255, 0.20 );
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.644);
    backdrop-filter: blur( 7.5px );
    -webkit-backdrop-filter: blur( 7.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

}

.article-title{
    height: 10%;
    overflow: hidden;
}

.info-title{
    height: 15%;
    overflow: hidden;
}

.article-image{ 
    height: 15%;
}

.article-text{
    height: 240px;
    overflow: hidden;
}

.info-text{
    height: 150px;
    overflow: hidden;
}

.button-article{
    font-family: 'samsungSans';
    background-color: #fefefe;
    color: #222;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.281);
    font-weight: bold;
    border-radius: 1000px;
    border-width: 0px;
    margin-bottom: 25px;
    height: 35px;
    width: 80%;
    transition: ease-in-out 200ms;
}

.button-article:hover{
    background-color:#00AAFF;
    color: #fefefe;
    border-width: 0px;
}

.main-article-container{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.main-article-image{
    width: 90%;
}

.main-article-text{
    font-size: 2.2em;
    text-align: justify;
}

.main-presentation-container{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.main-presentation-image{
    width: 90%;
}

.main-presentation-text{
    font-size: 1.8em;
    text-align: justify;
}

@media only screen and (max-width: 720px){
    .articles-container{
        grid-template-columns: auto;
    }

    .main-presentation-container{
        width: 90%;
    }
}


