header{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    z-index: 2;
    background: rgba( 255, 255, 255, 0.20 );
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur( 7.5px );
    -webkit-backdrop-filter: blur( 7.5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.header-logo{
    width: 50px;
    padding: 8px;
    margin-right: 5%;
}

.header-s{
    display: inline-block;
    width: max-content;
}