@font-face {
    font-family: 'samsungSans';
    src: url('../../assets/fonts/samsung_sans_bold.otf');
}

@font-face {
    font-family: 'centuryGauthic';
    src: url('../../assets/fonts/century.ttf');
}

body{
    display: grid;
    height: 90vh;
    align-items: center;
    margin: 0px;
    padding: 0px;
}

.div-container{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.title{
    font-family: 'samsungSans';
    font-weight: bolder;
    font-size: 2em;
}

.important{
    font-family: 'samsungSans';
    font-weight: bold;
    font-size: 1.25em;
}

.text{
    font-family: 'centuryGauthic';
    font-weight: normal;
    font-size: 1.1em;
}

table {
    font-family: 'samsungSans';
    border-collapse: collapse;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
}

table tbody tr:nth-child(even){background-color: #f2f2f2;}

table tbody tr:hover {background-color: #ddd;}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
}

table thead{
    background-color: skyblue;
    color: white;
    transition: 300ms ease-in-out;
}

table thead:hover{
    background-color:rgb(0, 132, 255);
}