@font-face {
    font-family: 'samsungSans';
    src: url('../../assets/fonts/samsung_sans_bold.otf');
}

@font-face {
    font-family: 'centuryGauthic';
    src: url('../../assets/fonts/century.ttf');
}

body{
    display: grid;
    height: 90vh;
    align-items: center;
    margin: 0px;
    padding: 0px;
    background-color: #222;
    color: #efefef;
}

.div-container{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
}

.settings-container{
    display: grid;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    justify-content: center;
    grid-template-columns: auto auto auto auto;
}

.setting-card{
    height: 250px;
    width: 250px;
    padding: 2%;
    margin: 15px;
    text-align: center;
    background: rgba( 255, 255, 255, 0.20 );
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur( 7.5px );
    -webkit-backdrop-filter: blur( 7.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.setting-image{ 
    width: 25%;
}

.title{
    font-family: 'samsungSans';
    font-weight: bolder;
    font-size: 2em;
}

.important{
    font-family: 'samsungSans';
    font-weight: bold;
    font-size: 1.25em;
}

.text{
    font-family: 'centuryGauthic';
    font-weight: normal;
    font-size: 1.1em;
}

table {
    font-family: 'samsungSans';
    border-collapse: collapse;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;

}

table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
}

table tbody tr{
    background: rgba( 255, 255, 255, 0.20 );
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur( 7.5px );
    -webkit-backdrop-filter: blur( 7.5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    transition: ease-in-out 200ms;
}

table tbody tr:hover {
    background-color: rgba(221, 221, 221, 0.336);
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
}

table thead{
    background-color: #fefefe;
    color: #222;
    transition: 300ms ease-in-out;
}

table thead:hover{
    background-color:#00AAFF;
    color: #fefefe;
}

.text-area{
    font-family: 'CenturyGauthic';
    background-color: rgba(110, 110, 110, 0.712);
    border-radius: 25px;
    border-width: 0px;
    padding-right: 10px;
    padding-left: 10px;
    height: 35px;
    width: 20%;
    text-align: center;
}

.mn-button{
    min-width: 60%;
    font-family: 'samsungSans';
    background-color: #fefefe;
    color: #222;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.281);
    font-weight: bold;
    border-radius: 1000px;
    border-width: 0px;
    margin-bottom: 25px;
    height: 35px;
    transition: ease-in-out 200ms;
}

.mn-button:hover{
    background-color:#00AAFF;
    color: #fefefe;
    border-width: 0px;
}

@media only screen and (max-width: 720px){
    .settings-container{
        grid-template-columns: auto;
    }
    table{
        width: 95%;
    }
}